<div class="text-center active-post">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <div id="edit-link">
    <p>
      {{!-- Figure out how to link edit button to edit.handlebars --}}
      <a href="/edit">Edit post</a>
    </p>
  </div>
</div>
